<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Testing</title>
</head>
<body>
    <table>
<tr>
    <td>First Name</td>
    <td><%=data.name.fname%></td>
</tr>
<tr>
    <td>Last Name</td>
    <td><%=data.email%></td>
</tr>
    </table>
</body>
</html>