<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/85bcb2089a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/assets/styles/profilePg.css"> <!-- link to css page -->
    <script src="/public/src/profile.js"></script> <!--JS file-->
    


    
    <title>TimeLine</title>
</head>
<body>
    <header> <!--this header contain the navigation bar code-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a href="#" class="navbar-brand ml-2">Swechcha<span style="color: chocolate;">.org</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-traget="#navbarMenu"
            aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse"></div>
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Events</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact Us</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="#" class="nav-link">Login</a>
                    </li> -->
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <!-- <button class="btn menu-right-btn border" type="submit">
                        Register 
                    </button> -->
                </form>
            </div>
        </nav>
    </header>

    
    <div class="cover-photo"></div>
    <div class="body">
        <section class="left-col user-info">
            <div class="profile-avatar">
                <div class="inner"></div>
            </div>
            <div class="lef-col-con">
                <h1>@Dylan Malitha</h1>
                <h2>Volunteer</h2>
                <div class="meta">
                    <p><i class="fa fa-fw fa-map-marker"></i> Australia</p>
                    <p><i class="fa fa-fw fa-clock-o"></i> Joined Dec 26, 2008</p>
                </div>
                <div class="info">
                    <h4>Other</h4>
                    <h3>Souls:</h3>
                    <p>259</p>
                    <h3>Circles:</h3>
                    <p>5</p>
                    <h3>Events:</h3>
                    <p>45</p>
                    <h3>Host</h3>
                    <p>3</p>
                </div>
            </div>
        </section>
      
        <section class="section center-col content">
        
            <!-- In tab Nav -->
            <div id="myDIV">
                <a href="timeline.html" class="btn active">TimeLine</a>
                <a href="profilePg.html" class="btn">About</a>
                <a href="#" class="btn">Friends</a>                
                <a href="#" class="btn">Report</a>                
              </div>
              <hr>
             <!-- timeline card container -->
               <div class="card mb-3" style="max-width: 80rem;">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/public/assets/images/card1.jpg" class="card-img" alt="..." style="width: 95%; height: 90%; padding-left: 5%; padding-top: 7%;" >
                  </div>
                  <div class="col-md-8">
                    <div class="card-body" style="font-size: calc(.2vh + 12px);">
                      <h5 class="card-title">Heading</h5>
                      <span>type</span></br>
                      <span>status</span></br>
                      <span>location</span></br>

                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>

                      <a href="#" class="btn btn-primary active" style="font-size: 14px;">More..</a>
                      
                      <p class="card-text"><small class="text-muted">Startes on 06/04/2020</small></p>
                    </div>
                  </div>
                </div>
              </div>

              
         
        </section>
      <section class="right-col">
        
      </section>
    </div>
    
    
    
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/67239/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="//use.typekit.net/psm0wvc.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>


</body>
</html>